:root {
  --header-height: 60px;
  --footer-height: 50px;
  --icon-size: 30px;
  --control-icon-size: 32px;
  --indicator-height: 12px;
  --indicator-margin: 6px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --color-highlight: #4285f4;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icons-header {
  width: auto;
  height: var(--header-height);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e8e6e8;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
  border-bottom: 1px solid #c2c0c2;
}

.page-icon {
  width: var(--icon-size);
  height: calc(var(--icon-size) + var(--indicator-height));
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-icon > img {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 10%;
}

.page-icon__char {
  text-align: center;
  line-height: var(--icon-size);
  font-size: calc(var(--icon-size) - 6px);
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 10%;
  border: solid 1px #c2c0c2;
  background-color: #ececec;
}

.page-icon__char:hover {
  background-color: #ddd;
}

.page-icon__indicator {
  height: calc(var(--indicator-height) - var(--indicator-margin));
  width: calc(var(--indicator-height) - var(--indicator-margin));
  margin-top: var(--indicator-margin);
  border-radius: 50%;
  background-color: #666666;
}

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--main-height);
}

.landing-page__sub-message {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: auto;
}

.landing-page__sub-message > h1 {
  color: #666666;
}

.landing-page__main-message {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c8c8c8;
}

.add-icon:hover {
  background-color: #c0c0c0;
}

/* Prevent bluma from fixing icon size */
.add-icon > i {
  font-size: 14px;
}

.add-icon__container {
  width: var(--icon-size);
  height: calc(var(--icon-size) + var(--indicator-height));
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webview-container {
  width: 100%;
  height: var(--main-height);
}

.webview-container__webview {
  width: 100%;
  height: 100%;
}

.page-config {
  width: 100%;
  height: var(--main-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-config__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 0;
  padding: 0 16px;
}

.page-config__buttons {
  width: 100%;
  margin: 12px 0;
  padding: 0 16px 100px;
}

.page-config__buttons > p {
  display: flex;
  justify-content: flex-begin;
}

.page-config__buttons > p > button {
  margin-right: 8px;
}

.page-config__buttons > p > button:last-child {
  margin-left: auto;
  margin-right: 0;
}

.progress-container {
  height: 3px;
  display: flex;
  width: 100%;
  position: fixed;
  top: var(--header-height);
}

.progress-bar {
  height: 100%;
  transition: width 0.3s linear 0ms;
}

.controls-footer {
  height: var(--footer-height);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #e8e6e8;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
  border-top: 1px solid #c2c0c2;
}

.control-button {
  cursor: pointer;
  width: var(--control-icon-size);
  height: var(--control-icon-size);
  color: #666666;
}

.control-button:hover {
  color: var(--color-highlight);
}

.control-button.control-button-disabled {
  cursor: default;
  color: #cccccc;
}
