:root {
  --header-height: 50px;
  --icon-size: 40px;
  --main-height: calc(100vh - var(--header-height));
  --color-primary: #00d1b2;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icons-header {
  width: auto;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}

.page-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0px 5px 0px 5px;
  border-radius: 10%;
  border: solid 1px #666666;
  cursor: pointer;
}

.page-icon__char {
  text-align: center;
  line-height: 38px;
  font-size: 34px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--main-height);
}

.landing-page__sub-message {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: auto;
}

.landing-page__sub-message > h1 {
  color: #666666;
}

.landing-page__main-message {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0px 5px 0px 5px;
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
}

.webview-container {
  width: 100%;
  height: var(--main-height);
}

.webview-container__webview {
  width: 100%;
  height: 100%;
}

.page-config {
  width: 100%;
  height: var(--main-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-config__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 0px;
  padding: 0px 16px;
}

.page-config__buttons {
  width: 100%;
  margin: 12px 0px;
  padding: 0px 16px 100px 16px;
}

.page-config__buttons > p {
  display: flex;
  justify-content: flex-begin;
}

.page-config__buttons > p > button {
  margin-right: 8px;
}

.page-config__buttons > p > button:last-child {
  margin-left: auto;
  margin-right: 0px;
}

.progress-container {
  height: 4px;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.progress-bar {
  height: 100%;
  transition: width 0.3s linear 0ms;
  background-color: var(--color-primary);
}
